<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames>
                <timestamp>timestamp</timestamp>
                <level>level</level>
                <thread>thread</thread>
                <logger>logger</logger>
                <message>message</message>
                <mdc>mdc</mdc>
            </fieldNames>
            <includeMdcKeyName>correlationId</includeMdcKeyName>
            <includeMdcKeyName>userId</includeMdcKeyName>
            <includeMdcKeyName>auditEvent</includeMdcKeyName>
            <fieldValueResolver>net.logstash.logback.argument.EventArgJsonProvider</fieldValueResolver>
        </encoder>
    </appender>

    <root level="${LOGGING_LEVEL_ROOT:INFO}">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="com.morsel" level="${LOGGING_LEVEL_APP:DEBUG}"/>
    <logger name="com.morsel.AUDIT" level="INFO"/>
</configuration>
